* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.container {
  background: lightgrey;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  padding: 20px 0;
}
.navbar {
  width: 100%;
  height: 50px;
  background: lightblue;
  padding: 10px;
}
.nome_mese {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.nome_mese h1 {
  font-size: 15px;
  text-align: center;
}
.nome_mese i {
  margin: 0 80px;
  cursor: pointer;
  font-size: 25px;
}
.mese h1, .mese h2, .mese h3 {
  font-size: 10px;
  text-align: center;
}
.selector, .selector_mese {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  background: rgba(120, 182, 209, 0.69);
  float: left;
  /* padding: 2px; */
  cursor: pointer;
  position: relative;
  margin: 0 5px;
}
.selector_mese {
  display: none;
  padding: 3px 0;
}
.selector h3, .selector_mese h3 {
  font-size: 15px;
  text-align: center;
}
.down {
}
.mese {
  /* border: .7px solid grey; */
  border-radius: 2px;
  width: 900px;
  height: 400px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}
.nazione_scelta {
  float: right;
}
.nazione_scelta h1 {
  font-size: 13px;
  text-align: center;
}
.nation_select, .month_select {
  width: 200px;
  height: 500px;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 25px;
  left: 0px;
  box-shadow: 10px 10px 10px grey;
  overflow: auto;
  display: none;
}
.month_select {
  height: 350px;
}
.nation, .month {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nation_select h1, .month_select h1 {
  font-size: 15px;
  text-align: center;
  margin: 5px 0;
}
.nation_select h2, .month_select h2 {
  font-size: 15px;
  text-align: center;
  margin: 5px 0;
}
.templates {
  display: none;
}
.red {
  color: rgb(71, 130, 159);
  text-decoration: underline;
}
.casella {
  width: calc( 100% / 7);
  height: calc( 100% / 5);
  border-radius: 3px;
  border: .5px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sfondo {
  background: rgba(115, 128, 131, 0.35);
}
